.bestowal__possibility {
  padding: 0;
  margin: 0;
  background: linear-gradient(to top, var(--possibilities-bg-1), var(--possibilities-bg-2), var(--possibilities-bg-1));
  animation: slide 20s linear infinite;
  transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  
}


@keyframes slide {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }

.bestowal__possibility .bestowal__container {
  padding-top: 10rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-bottom: 2rem ;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}

.bestowal__possibility .bestowal__container img {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    animation: moveUpDown 2s infinite alternate;
    -webkit-animation: moveUpDown 2s infinite alternate;
}
@keyframes moveUpDown {
    0% {
      transform: translateX(0);
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
}
    100% {
      transform: translateX(-10px);
      -webkit-transform: translateX(-10px);
      -moz-transform: translateX(-10px);
      -ms-transform: translateX(-10px);
      -o-transform: translateX(-10px);
}
  }

.bestowal__possibility .bestowal__container .bestowal__possibility-content{
    padding-top: 13rem;
}
.bestowal__possibility .bestowal__container h4 {
    font-size: 2rem;
    font-weight: 900;
    width: 50vw;
    background: linear-gradient(140deg, var(--possibilities-bg-text-1), var(--possibilities-bg-text-2));
    -webkit-background-clip: text;
    color: transparent;
    line-height: 1.3;
    border-top: 2px solid;
    border-image: linear-gradient(
        140deg,
        var(--possibilities-bg-border-1),
        var(--possibilities-bg-border-2)
      )
      1;
    margin-bottom: 1rem;
}
.bestowal__possibility .bestowal__container p {
    font-size: 1.2rem;
    font-weight: 600;
    width: 50vw;
    background: linear-gradient(140deg, var(--possibilities-bg-text-1), var(--possibilities-bg-text-2));
    -webkit-background-clip: text;
    color: transparent;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

@media screen and (max-width: 1200px) {
  .bestowal__possibility .bestowal__container {
    padding-top: 10rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-bottom: 2rem ;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .bestowal__possibility .bestowal__container img {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    animation: moveUpDown 2s infinite alternate;
    -webkit-animation: moveUpDown 2s infinite alternate;
}
.bestowal__possibility .bestowal__container .bestowal__possibility-content{
  padding-top: 8rem;
  
}
}
/* @media screen and (max-width: 1139px) {
  .bestowal__possibility .bestowal__container {
    padding-top: 5rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-bottom: 2rem ;
    display: grid;
    grid-template-columns: 1fr;
  }
  .bestowal__possibility .bestowal__container img {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    animation: moveUpDown 2s infinite alternate;
    -webkit-animation: moveUpDown 2s infinite alternate;
}
.bestowal__possibility .bestowal__container .bestowal__possibility-content{
  padding: 0;
}
.bestowal__possibility {
  height: 140vh;
  padding: 0;
  margin: 0;
  background: linear-gradient(to top, var(--possibilities-bg-1), var(--possibilities-bg-2));
  animation: slide 20s linear infinite;
  transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
}
.bestowal__possibility .bestowal__container h4 {
  font-size: 3rem;
  font-weight: 900;
  width: 80vw;
  background: linear-gradient(140deg, var(--possibilities-bg-text-1), var(--possibilities-bg-text-2));
  -webkit-background-clip: text;
  color: transparent;
  line-height: 1.3;
  border-top: 2px solid;
  border-image: linear-gradient(
      140deg,
      var(--possibilities-bg-border-1),
      var(--possibilities-bg-border-2)
    )
    1;
  margin-bottom: 1rem;
}
.bestowal__possibility .bestowal__container p {
  font-size: 1.4rem;
  font-weight: 600;
  width: 80vw;
  background: linear-gradient(140deg, var(--possibilities-bg-text-1), var(--possibilities-bg-text-2));
  -webkit-background-clip: text;
  color: transparent;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.bestowal__possibility .bestowal__container img {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  animation: moveUpDown 2s infinite alternate;
  -webkit-animation: moveUpDown 2s infinite alternate;
  width: 100vw;
}

}
@media screen and (max-width: 765px) {
  .bestowal__possibility .bestowal__container {
    padding-top: 10rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem ;
    display: grid;
    grid-template-columns: 1fr;
  }
  .bestowal__possibility .bestowal__container img {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    animation: moveUpDown 2s infinite alternate;
    -webkit-animation: moveUpDown 2s infinite alternate;
    width: 100vw;
  }
  .bestowal__possibility .bestowal__container h4 {
    font-size: 2.5rem;
    font-weight: 900;
    width: 80vw;
    background: linear-gradient(140deg, var(--possibilities-bg-text-1), var(--possibilities-bg-text-2));
    -webkit-background-clip: text;
    color: transparent;
    line-height: 1.3;
    border-top: 2px solid;
    border-image: linear-gradient(
        140deg,
        var(--possibilities-bg-border-1),
        var(--possibilities-bg-border-2)
      )
      1;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 400px) {
  .bestowal__possibility .bestowal__container h4 {
    font-size: 2rem;
    font-weight: 900;
    width: 80vw;
    background: linear-gradient(140deg, var(--possibilities-bg-text-1), var(--possibilities-bg-text-2));
    -webkit-background-clip: text;
    color: transparent;
    line-height: 1.3;
    border-top: 2px solid;
    border-image: linear-gradient(
        140deg,
        var(--possibilities-bg-border-1),
        var(--possibilities-bg-border-2)
      )
      1;
    margin-bottom: 1rem;
  }

}

@media screen and (max-width: 360px) {
  .bestowal__possibility .bestowal__container h4 {
    font-size: 2rem;
    font-weight: 900;
    width: 80vw;
    background: linear-gradient(140deg, var(--possibilities-bg-text-1), var(--possibilities-bg-text-2));
    -webkit-background-clip: text;
    color: transparent;
    line-height: 1.3;
    border-top: 2px solid;
    border-image: linear-gradient(
        140deg,
        var(--possibilities-bg-border-1),
        var(--possibilities-bg-border-2)
      )
      1;
    margin-bottom: 1rem;
  }

  .bestowal__possibility .bestowal__container {
    padding-top: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem ;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
  }

}
@media screen and (max-width: 320px) {
  .bestowal__possibility {
    padding: 0;
    margin: 0;
    background: linear-gradient(to top, var(--possibilities-bg-1), var(--possibilities-bg-2), var(--possibilities-bg-1));
    animation: slide 20s linear infinite;
    transition: all 400ms ease;
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    height: 130vh;
  }
} */