@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

/* FOR MAIN HOMEPAGE  */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");


:root {
  --navbar-background: #29f0b4;
  --navbar-text-color: #002;
  --navbar-bg-color-btn: #002;
  --navbar-text-color-btn: #fff;
  --navbar-text-color-hover: #fff;
  --navbar-logo: #002;
  --navbar-logo-span-text: #fff;
  --navbar-logo-span-bg: #002;
  
  --theme-Icon: #002;

  --nav-toggler: #002;

  --scroll-bar: #2b002b;

  /*My  first section */

  --hero-big: #fff;



  }

  [data-theme="dark"] {
    --navbar-background: #002;
    --navbar-text-color: #fff;
    --navbar-text-color-hover: #29f0b4;
    --navbar-bg-color-btn: #fff;
    --navbar-text-color-btn: #002;
    --theme-Icon: #fff;
    --navbar-logo: #fff;

    --navbar-logo-span-text: #002;
    --navbar-logo-span-bg: #fff;

    /* --navbar-box-shadow: #fff; */
    --nav-toggler: #fff;

    --scroll-bar: #ddd;

    /*My first section */
    --hero-big: #29f0b4;

  }

  * html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
  }

  
  * {
    scroll-behavior: smooth;
  }
  
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  

  
  body {
    font-family: "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  html,
  body {
    scroll-behavior: smooth;
  }
  
  /* Style for the scrollbar */
  body::-webkit-scrollbar {
    width: 5px;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #002;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
  section {
    height: 100vh;
    margin-top: 1rem;
  }