@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

/* FOR MAIN HOMEPAGE  */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");


:root {
  --navbar-background: #f7f9fd;
  --navbar-text-color: #5e74ed;
  --navbar-logo--hover: #090d14;
  --navbar-logo: #5e74ed;
  --navbar-logo-span-text: #fff;
  --navbar-logo-span-bg: #5e74ed;

  --theme-Icon: #5e74ed;
  --theme-Icon-hover: #090d14;



  --nav-toggler: #5e74ed;
  --scroll-bar: #ddd;


  
/* btn */
--button-border-color: #5e74ed;
--button-text-color: #fff;
--button-background-color: #5e74ed;

--button-border-color-hover: #fff;
--button-text-color-hover: #5e74ed;
--button-background-color-hover: #fff;


/* My first Section */

  --headerImage-bg: #f7f9fd;


  --hero-big-gradient-1: #5e74ed;
  --hero-big-gradient-2: #000;

  --second-content: #7d8ef0;












  }

  [data-theme="dark"] {
    
  --navbar-background: #090d14;
  --navbar-text-color: #fff;
  --navbar-logo--hover: #5e74ed;
  --navbar-logo: #5e74ed;
  --navbar-logo-span-text: #fff;
  --navbar-logo-span-bg: #5e74ed;

  
  --theme-Icon: #fff;
  --theme-Icon-hover: #5e74ed;

  --nav-toggler: #5e74ed;

  --scroll-bar: #5e74ed;

  /* btn */
  --button-border-color: #fff;
  --button-text-color: #fff;
  --button-background-color: #090d14;

  --button-border-color-hover: #5e74ed;
  --button-text-color-hover: #fff;
  --button-background-color-hover: #5e74ed;


  /*My  first section */
  --headerImage-bg: #090d14;

  
  --hero-big-gradient-2: #59aaff;
  --hero-big-gradient-2: #26d962;


  --second-content: #6f8cbe;


  }

  * html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
  }

  
  * {
    scroll-behavior: smooth;
  }
  
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  

  
  body {
    font-family: "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
  }
  
  html,
  body {
    scroll-behavior: smooth;
  }
  
  /* Style for the scrollbar */
  body::-webkit-scrollbar {
    width: 5px;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #5e74ed;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
  section {
    height: 100vh;
    margin-top: 1rem;
  }