.sectionTwo {
    background: var(--section-two-bg);
  }
  
  .sectionTwo .sectionTwoMain {
    display: flex;
    overflow: hidden;
    animation: mySlide 8s linear infinite;
    -webkit-animation: mySlide 8s linear infinite;
    animation-delay: 2s;
  -webkit-animation-delay: 2s;
}
  
  .sectionTwo div {
    flex: 0 0 auto;
    max-width: 150px;
    min-width: 120px;
    margin: 1rem;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
  }
  
  @keyframes mySlide {
    0% {
      margin-left: 100%;
    }
  
    100% {
      margin-left: -100%;
    }
  }
  