.sectionTwo {
    background: var(--section-two-bg);
    padding: 1rem;
  }
  .sectionTwo .raiseCapital{
    display: flex;
    justify-content: center;
    text-align: center;
    color: var(--section-two-text);
    font-size: 13px;
    font-weight: 600;
  }
  
  .sectionTwo .sectionTwoMain {
    display: flex;
    overflow: hidden;
    animation: mySlide 8s linear infinite;
    -webkit-animation: mySlide 8s linear infinite;
    animation-delay: -10s;
  -webkit-animation-delay: -10s;
}
  
  .sectionTwo div {
    flex: 0 0 auto;
    max-width: 150px;
    min-width: 120px;
    margin: 1rem;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
  }
  @keyframes mySlide {
    0% {
      margin-left: 100%;
    }
  
    100% {
      margin-left: -100%;
    }
  }
  