.custom-button {
  background-color: var(--navbar-bg-color-btn);
  color: var(--navbar-text-color-btn);
  padding: 6px 1rem;
  transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.custom-button:hover {
  /* background-color: var(--navbar-bg-color-btn-hover); */
}