/* Styles specific to MarketAnimation component */
.marketAnimation {
    width: 40px;
    height: 40px;
    border: 2px solid red;
    border-radius: 50%;
    background-color: white;
    animation: loaderAnimation 3s linear infinite;
    -webkit-animation: loaderAnimation 3s linear infinite;
    padding: 0;
    margin: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    z-index: 1;
  }
  
  @keyframes loaderAnimation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  /* Add any additional styles as needed */
  